# Spark configuration
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_SHUFFLE_PARTITIONS=8
OUTPUT_CSV_PARTITIONS=1

# Data paths
DATA_DIR=/workspace/src/data
OUTPUT_DIR=/workspace/output

# PostgreSQL connection
POSTGRES_URL=jdbc:postgresql://postgres:5432/dist_f1
POSTGRES_USER=root
POSTGRES_PASSWORD=root168
